// menu button

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;
  .btn-line {
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background: white;
    @include easeOut
  }
  // Rotate lines into X

  &.close {
    transform: rotate(180deg);

    .btn-line {
      // line 1 - rotate
      &:nth-child(1) {
        transform: rotate(405deg) translate(5px, 5px);
      }
      // line 2 - hide
      &:nth-child(2) {
        transform: rotate(360deg);
        opacity: 0;
        
      }
      // line 3 - rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }


    }
  }

}

// Menu Overlay

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding, &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;

  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      //slide in from top

      transform: translate3d(0, 0, 0)
    }
  }

  // Branding Side
  &-branding {
    background: $primary-color;
    @include easeOut;
    transform: translate3d(0, 100%, 0);

    &.show {
      //slide in from top
      transform: translate3d(0, 0, 0)
    }

    .portrait {
      width: 350px;
      height: 350px;
      background: url("https://lh3.googleusercontent.com/IcZZrrIXBAbbvBLWVfQx3FrenwqlWjmElDXlXTJ1_v7_MfzMOGg54YIbUXhr5mgrScl98JUhdBg22liOpwbLJLKEcdrK5bldYj4oxqv8Q9rH7_0OUYwF3vCUPxPrTrDY1CRLa8qMswhup9ZAhtiGmCL5rKsAuUQ8TCxc7SvxNy9JrlXwntm2RjaFi_lV_sEm24gk1SxT3TMXtT7B_OB42DEvBHpLHKA3k1LX2bf32lvaWm2RXVhUhDfNesqWTufP1MrMa5N49kiefj0nky3k2o-H27JZ6xE5jKFzZy1YhWB33fsv2bi8jTBv_u0WClbKUSbDkJ2ELih-gwBQQDs10GBGZGblYNrWyMvQv6teu560aY6tNgRfN5PZ_OGKdO18vt3APWh72rG4sUcJ8I7N9hjZxFuMmJi1JsbnaGMx_8NmjY1DG8EDiyLhEZGILWhFA3OVU9G5rbC1IO4SV9IjwjKWdliR2jW13itJaFIpt94FSpiVaMDZM5SrXyGD1260jwkwYCug3hr7Ld5uaX5MjmCnkpPA2775BQVoAP7m-wq5R4RN2IlrKsv2X6pHvK8nNzV_-S4VCUTXK9r1E8kz8eo19j8kedRpJQfgCusWd6HSCCQ4XXU2SUocASvCB8k=w667-h889-no");
      border-radius: 50%;
      border: solid 1px $secondary-color;

    }
  }
  
  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      //slide in from right
      transform: translate3d(0, 0, 0)
    }

    &.current > a{
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.1 seconds
@for $x from 1 through 5 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s
  }
}