// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktop & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0,0,0)
    }
  }
  
  .menu-nav{
    height: 75vh;
    transform: translate3d(-100%,0,0);
    font-size: 24px;
    border-top: solid 1px $secondary-color;
    border-left: none;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%,0,0);

    .bio-img {
      height: 150px;
      width: 150px;
    }
  }

  .about-info {
    grid-template-areas: 
    'bioimage'
    'bio'
    'hobby1'
    'hobby2'
    'hobby3';

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
    font-size: 3.5rem;
  } 

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .hobby-img {
    width: 300px;
    height: auto;
  }
}

// Smaller Smartphones 
@include mediaXSm {
  main#home h1.lg-heading {
    font-size: 3rem;
    text-align: center;
  }

  main#about {
    width: 100vw;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    .lg-heading {
      font-size: 3rem;
    }

    .sm-heading {
      font-size: 1.25rem;
    }

    div.about-info {
      width: 100vw;
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0 1.25rem;

      img.bio-img {
        height: 17rem;
        width: 17rem;
        margin-bottom: 1rem;
      }

      .hobby {
        margin-bottom: 2.5rem;

        a img.hobby-img {
          width: 95%;
          height: auto;
        }
      }
    }

    // I was stupid and Projects is also under the ID of 'about'
    div.projects {
      width: 100vw;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0 1rem;

      section.item {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 1px $secondary-color;
        padding: 1rem;

        .item_info {
          position: relative;
          width: 100%;
          height: auto;
          border: none;

          p {
            text-indent: 0px;
            text-align: justify;
          }
        }

        video.img {
          width: 100%;
          height: auto;
          margin-bottom: 1rem;
        }
      }
    }
  }

  div.menu-branding.show img.bio-img {
    height: 7rem;
    width: 7rem;
  }


  main#skills {
    .lg-heading {
      font-size: 3rem;
    }

    .sm-heading {
      font-size: 1.25rem;
    }
  }

  main#contact {
    width: 100vw;
    height: auto;
    position: relative;
    padding: 0px;
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    .lg-heading {
      font-size: 3rem;
    }

    .sm-heading {
      font-size: 1.22rem;
    }

    .boxes {
      width: 100%;

      div {
        width: 100%;
        border: solid 1px $secondary-color;
        font-size: 1rem;
        align-content: center;
        position: relative;
      }
    }
  }


}
